.container {
	border: 2px solid black;
	width: 50%;
	margin: auto;
	line-height: 2;
	text-align:right;
}

.center {
	width: 50%;
	margin-left: 17%;
	padding-bottom: 100px;
	padding-top: 10px;
}

h1 {
	text-align: center;
}

input {
	border: 2px solid black;
	width: 60%;
	float: right;
	margin-bottom: 0px;
}

label {
	padding-right: 10px;
}

input[type="submit"] {
	margin-right:10%;
	width: 50%;
}